.navbar{
  font-size: 2rem;
  color: red;
}


.navbar-title {
  font-weight: bold;
  font-size: 2rem;
}

h2{
  font-size: 1.4rem;
}

div.sourceCode {
  max-width: 600px;
  overflow-x: auto;
  white-space: pre-wrap;
}